/* General */
body {
  margin: 0px;
  font-family: 'robotoregular';
}

.wrapper {
  display: grid;
}

/* Header */
ul.taskbar {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

ul.taskbar > li > a {
  line-height: 65px;
  padding: 21.7px;
  margin-right: 4px;
  color: #cccccc;
  text-decoration: none;
}

ul.taskbar > li.active > a {
  background-color: #333333;
}

ul.taskbar > li > a:hover {
  color: #d0d0d0;
  background-color: #333333;
}

#header {
  background-color: #606060;
}

/* Home */
/* Terminal */
.terminal-titlebar {
  text-align: center;
  background-color: #f5f5f5;
  padding: 6px;
}

.terminal-content {
  border: 4px solid;
  border-color: #000000;
  padding: 8px 10px 20px 10px;
}

.nano-titlebar {
  background-color: #f5f5f5;
  padding: 6px;
}

.nano-content {
  padding: 8px 10px 20px 10px;
}

.nano-options {
  background-color: #f5f5f5;
  padding: 6px;
}

/* Work */
#work {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Browser */
.browser-titlebar {
  display: grid;
  grid-template-columns: 2fr 8fr;
  background-color: #000000;
  height: 53px;
}

.browser-tab {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #333333;
}

.browser-tab-title {
  padding: 14px 0px 10px 10px;
}

.browser-tab-close {
  text-align: right;
  padding: 14px 6px 10px 0px;
}

.browser-space {
  padding: 12px 6px 10px 12px;
}

ul.titlebar-options {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  float: right;
}

ul.titlebar-options > li {
  padding-left: 8px;
}

.browser-space > a {
  line-height: 25px;
  color: #cccccc;
  text-decoration: none;
}

.browser-space > a:hover > svg {
  background-color: #333333;
}

.browser-address-bar {
  background-color: #f5f5f5;
  padding: 14px;
}

.browser-content {
  padding: 30px;
  border: 4px solid;
  border-color: #000000;
}

.tech-stack-content > h4 {
  margin-top: 8px;
  margin-bottom: 6px;
}

.tech-stack-content > p {
  margin-top: 0px;
  margin-bottom: 6px;
}

.other-skills-content > h4 {
  margin-top: 8px;
  margin-bottom: 6px;
}

.other-skills-content > p {
  margin-top: 0px;
  margin-bottom: 6px;
}

/* Contact */
#contact {
  text-align: center;
}

.contact-links > a {
  color: #cccccc;
  text-decoration: none;
}

.contact-links > a:hover {
  color: #d0d0d0;
  text-decoration: underline;
}

/* Footer */
#footer {
  text-align: center;
  padding: 40px 40px 20px 40px;
}

@media (min-width: 576px) {
  #home {
    padding: 10px 60px;
  }
  .terminal-content {
    padding: 10px 10px 30px 30px;
  }
}
