/* General */
body {
  margin: 0px;
  font-family: 'robotoregular';
}

.wrapper {
  display: grid;
}

/* Header */
ul.taskbar {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

ul.taskbar > li > a {
  line-height: 65px;
  padding: 21.7px;
  margin-right: 4px;
  color: #cccccc;
  text-decoration: none;
}

ul.taskbar > li.active > a {
  background-color: #333333;
}

ul.taskbar > li > a:hover {
  color: #d0d0d0;
  background-color: #333333;
}

#header {
  background-color: #606060;
}

/* Home */
#home {
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Terminal */
.terminal-titlebar {
  text-align: center;
  background-color: #606060;
  color: #cccccc;
  padding: 8px;
  height: 30px;
}

.terminal-titlebar > b {
  font-size: 20px;
}

.terminal-content {
  background-color: #333333;
  padding: 8px 10px 20px 10px;
}

.terminal-user {
  color: #4E9A06;
}

.terminal-directory {
  color: #3465A4;
}

.terminal-command {
  color: #D3D7CF;
}

.nano-titlebar {
  background-color: #f5f5f5;
  color: #333333;
  padding: 6px;
}

.nano-content {
  color: #D3D7CF;
  padding: 8px 10px 20px 10px;
}

.nano-options {
  background-color: #f5f5f5;
  padding: 6px;
}

/* Work */
#work {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Browser */
.browser-titlebar {
  display: grid;
  grid-template-columns: 5fr 5fr;
  background-color: #f5f5f5;
  height: 53px;
}

.browser-tab {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  background-color: #f5f5f5;
  padding: 14px 6px 10px 10px;
}

.browser-tab > ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  float: right;
}

.browser-space {
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 12px 6px 10px 12px;
}

ul.titlebar-options {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  float: right;
}

ul.titlebar-options > li {
  padding-left: 8px;
}

.browser-space > a {
  line-height: 25px;
  color: #000000;
  text-decoration: none;
}

.browser-space > a:hover > svg {
  background-color: #606060;
}

.browser-toolbar {
  border: 2px solid #000000;
  border-top-width: 0px;
  padding: 14px;
}

.browser-address-bar {
  background-color: #f5f5f5;
  border: 1px solid #000000;
  padding: 10px;
}

.browser-content {
  display: grid;
  padding: 30px;
  border: 2px solid #000000;
  border-top-width: 0px;
}

.tech-stack-content > h4 {
  margin-top: 8px;
  margin-bottom: 6px;
}

.tech-stack-content > p {
  margin-top: 0px;
  margin-bottom: 6px;
}

.other-skills-content > h4 {
  margin-top: 8px;
  margin-bottom: 6px;
}

.other-skills-content > p {
  margin-top: 0px;
  margin-bottom: 6px;
}

/* Contact */
#contact {
  text-align: center;
}

.contact-links > a {
  color: #000000;
  text-decoration: none;
}

.contact-links > a:hover {
  color: #333333;
  text-decoration: underline;
}

/* Footer */
#footer {
  text-align: center;
  padding: 40px 40px 20px 40px;
}

@media (min-width: 576px) {
  #home {
    grid-template-columns: 1fr 6fr 1fr;
  }

  .browser-content {
    grid-template-columns: 1fr 6fr 1fr;
  }

  .terminal-content {
    padding: 10px 10px 30px 30px;
  }
}

@media (min-width: 768px) {
  #home {
    grid-template-columns: 2fr 8fr 2fr;
  }

  .browser-content {
    grid-template-columns: 2fr 8fr 2fr;
  }

  .browser-titlebar {
    grid-template-columns: 4fr 6fr;
  }
}

@media (min-width: 992px) {
  #home {
    grid-template-columns: 2fr 6fr 2fr;
  }

  .browser-titlebar {
    grid-template-columns: 2fr 8fr;
  }

  .browser-content {
    grid-template-columns: 2fr 6fr 2fr;
  }
}

@media (min-width: 1200px) {
  .browser-content {
    grid-template-columns: 3fr 5fr 3fr;
  }
}
